body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  margin:0;
}

/* .Navbar Styling */

.navbar-nav li {
  margin-left: 26px;
}

.nav-link.active {
  color: #fcc135 !important;
}

.nav-link:hover {
  color: #ffe60090 !important;
}

.navbar-toggler{
  border: none;
  margin-left: 5px;
}

.drop-down{
  position: absolute;
  border-radius: 4px;
  top:40px;
  right: -10px;
  z-index: 10;
}

@media (max-width: 767px){
  .drop-down{
    right: 0;
  }
}

.rotate-arrow {
  transition: transform 0.4s ease-in-out;
  perspective: 1000px;
  position: relative;
}

.up {
  transform: rotateX(0deg);
}

.down {
  transform: rotateX(180deg);
}